/*--------------------------------MEDIA QUERIES:  FORMAT PHONES-----------------------------------------------------------*/

@media (max-width: 767px)
{

	.bottomMainZone
	{
		margin-left: 0;
	}

	.activiteslocalisation
	{
		margin-left: 10px;
	}

	.activitesCardsZone
	{
		flex-direction: column;
		flex-wrap: nowrap;
		margin-right: 25px;
		padding: 0 10px;
		justify-content: center;
	}

	.smallCardZone
	{
		width: 100%;
		min-height: 450px;
		max-height: 0;
		display: block;

	}

	.smallCardActivites:first-child
	{
		margin-right: 0;
		margin-bottom: 30px;
	}


	.bigCardActivites
	{
		width: 100%;
		min-height: 200px;
		margin-bottom: 30px;
	}

	.bigCard
	{
		height: 180px;
	}

	/* IMAGES ACTIVITES FORMAT PHONES */

	#imgActivite1
	{
		background-image: url("../../images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
		background-size: cover;
	}

	#imgActivite2
	{
		background-image: url("../../images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
		background-size: cover;

	}
	#imgActivite3
	{
		background-image: url("../../images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
		background-size: cover;

	}

	#imgActivite4
	{
		background-image: url("../../images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
		background-size: cover;
	}

	#imgActivite5
	{
		background-image: url("../../images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
		background-size: cover;
	}

	#imgActivite6
	{
		background-image: url("../../images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
		background-size: cover;

	}

}